@import 'bootstrap/scss/bootstrap';

body {
  background-color: white;
}

.logo {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  color: #000;
}

.head {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

input {
  // background-color: rgb(239, 239, 239);
  border-radius: 15px;
  padding: 0.7rem 1.4rem;
  width: 100%;
  font-weight: bold;
  color: black;
  border: 0.2px solid rgb(107, 107, 107);
}

button {
  border-radius: 15px !important;
}

.error-banner {
  background-color: rgba(255, 164, 164, 0.767);
  padding: 0.7rem 1.4rem;
  color: white;
}

.watch-grid {
  display: grid;
  grid-auto-rows: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: dense;
  column-gap: 1rem;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 1200px) {
  .watch-grid {  
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 767px) {
  .watch-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.card {
  --row-height: 1;
  border-radius: 25px !important;
  border: 0px !important;
  break-inside: avoid;
  margin-bottom: 1rem;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  grid-row-end: span var(--row-height);
  box-shadow: 0px 0px 20px #0000000f;
}

.watch-card-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.watch-card-overlay {
  opacity: 0;
}

.watch-card-overlay:hover {
  opacity: 1;
}

// Inladen smooth

.watch-fade-enter-active {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition-delay: var(--delay);
}

.watch-fade-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.watch-fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

/* Extra als fallback */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}



// spinningwheel

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}

.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.trusted-by-list {
  -webkit-transition-timing-function:linear!important;
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important;
 }
